INFO] [1760858801.497623302]: HectorSM p_update_factor_occupied_: 0.900000
[ INFO] [1760858801.497633812]: HectorSM p_map_update_distance_threshold_: 0.200000 
[ INFO] [1760858801.497644998]: HectorSM p_map_update_angle_threshold_: 0.200000
[ INFO] [1760858801.497654974]: HectorSM p_laser_z_min_value_: -1.000000
[ INFO] [1760858801.497666559]: HectorSM p_laser_z_max_value_: 1.000000
[ WARN] [1760858801.586537458]: Could not find any compatible depth output mode for 1. Falling back to default depth output mode 1.
[ INFO] [1760858801.597614098]: rgb_frame_id = 'camera_rgb_optical_frame' 
[ INFO] [1760858801.599737086]: depth_frame_id = 'camera_depth_optical_frame' 
[ WARN] [1760858801.611828939]: Camera calibration file /home/iascr/.ros/camera_info/rgb_A00367908097045A.yaml not found.
[ WARN] [1760858801.611929920]: Using default parameters for RGB camera calibration.
[ WARN] [1760858801.611991319]: Camera calibration file /home/iascr/.ros/camera_info/depth_A00367908097045A.yaml not found.
[ WARN] [1760858801.612030335]: Using default parameters for IR camera calibration.
[INFO] [1760858801.685354]: ROS Serial Python Node
[INFO] [1760858801.693475]: Connecting to /dev/ttyUSB1 at 115200 baud
[ERROR] [1760858802.923361746]: Transform failed during publishing of map_odom transform: "odom" passed to lookupTransform argument target_frame does not exist. 
[ERROR] [1760858803.427010789]: Transform failed during publishing of map_odom transform: Lookup would require extrapolation at time 1760858802.749948263, but only time 1760858802.418024778 is in the buffe, when looking up transform from frame [base_link] to frame [odom]
